<section class="page-title">

  <h1> List of available rooms are as follows: </h1>

  <div>
    <% if !rooms.any? %>
      <p>
        OOPS!! Seems you haven't created any rooms yet. Lets try by creating <%= link_to 'one', new_room_path %> .
      </p>
    <% else %>
      <ul>
        <% rooms.each do |room| %>
            <li>
              <%= link_to room.number, room_path(room) %>
            </li>
        <% end %>
      </ul>
       <p>... create <%= link_to 'more', new_room_path %></p>
    <% end %>
  </div>

</section>