<section>
    <h3> New room details </h3>
    <div>
        <%= simple_form_for room_form, url: url_for(action: :create), as: :room_form,
                                         data: { "checkdirty": "" } do |f| %>
            <%= render partial: 'rooms/partials/form', locals: { f: f } %>
        <% end %>    
    </div>
    
</section>
