<div class="jumbotron">
  <h1> <%= link_to 'PraAn Solutions', root_path %> </h1>
  <p> A place where you can find all the digital help for your hotel management. We provide you
      services right from room allotment to yearly reports.
  </p>
</div>